@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}
<div class="titlebox"><h1>@ViewData["Title"]</h1></div>

<div class="">
    <div class="">
        <section class="form-wrapper">
            <form id="account" method="post" class="form">

                <div asp-validation-summary="ModelOnly" class=""></div>
                <div class="">
                    <label asp-for="Input.Email" class="form-item-label"></label>
                    <input asp-for="Input.Email" class="form-item-input" />
                    <span asp-validation-for="Input.Email" class="form-item-validation-text"></span>
                </div>
                <div class="">
                    <label asp-for="Input.Password" class="form-item-label"></label>
                    <input asp-for="Input.Password" class="form-item-input" />
                    <span asp-validation-for="Input.Password" class="form-item-validation-text"></span>
                </div>
                <div>
                    <div class="">
                        <label asp-for="Input.RememberMe" class="">
                            <input type="checkbox" class="" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div>
                    <button id="login-submit" type="submit" class="">Log in</button>
                </div>
                <div>
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                    </p>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                    </p>
                    <p>
                        <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
 

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
