@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
  font-size: max(1vw, 12px);
  --primary-black: hsl(0, 0%, 9%);
  --primary-white: #e5eeed;
  --test-black: #1e1e24;
  --primary-color: hsl(214, 59%, 52%);
  --secondary-color: hsl(0, 59%, 50%); /* #ee5454 */
  font-family: "Open Sans";
  font-weight: normal;
  margin: 0;
  padding: 0;
  color: var(--primary-black);

}
html {
    box-sizing: border-box;
    overflow-x: hidden;

}
*, *:before, *:after {
  box-sizing: inherit;
}
.nav-item {
  padding-block: 1rem;

}
.nav-link > .nav-item {
  background-color: transparent;
  transition: background-color 100ms ease-in;
}

.nav-link > .nav-item:hover {
  background-color: hsl(0, 0%, 10%);
}

.nav-link > .nav-item > span {
  filter: grayscale(80%) opacity(.7);
  transition: filter 100ms ease-in;
  display: inline-flex;
  align-items: center;
}
.nav-link > .nav-item:hover > span {
  filter: grayscale(0%) opacity(1);
  }

.nav-link > .nav-item > span > svg {
    height: min(2rem, 3.25vh);
    width: min(2rem, 3.25vh);
    fill: var(--primary-color);
    margin-right: 1rem;

}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  color: var(--secondary-color);
  text-transform: uppercase;
  font-family: 'Bebas Neue';
  font-kerning:none;
  letter-spacing: .1em;
}

h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.5rem;
}
h3 {
  font-size: 3rem;
}
h4 {
  font-size: 2.5rem;
}
h5 {
  font-size: 2rem;
}
h6 {
  font-size: 1.5rem;
}

body::-webkit-scrollbar {
  width: .75rem;
}

body::-webkit-scrollbar-track {
  background: #241e1f;
}

body::-webkit-scrollbar-thumb {
  background: var(--primary-color);
}

.main-content-wrapper::-webkit-scrollbar {
  width: .75rem;
}

.main-content-wrapper::-webkit-scrollbar-track {
  background: #241e1f;
}

.main-content-wrapper::-webkit-scrollbar-thumb {
  background: var(--primary-color);
}


a {
  color: var(--primary-color);
  text-decoration: none;
  padding-inline: auto;
}
.nav-link {
  font-weight: 900;
  text-transform:uppercase;
  font-size: min(24px, 3.25vh);

}


.brand {
  font-weight:400;
  font-kerning: none;
  font-family: 'Bebas Neue';
  letter-spacing: .2rem;
  font-size: min(3.75rem, 5vh);
}

.nav-item {
  display: flex;
  justify-content: center;
  width: 100%;
}

.nav-bottom div{
margin-top: auto;
}
body {
margin:0;
padding: 0;
min-height: 100vh;
display:flex;
flex-direction: row;
background-image: linear-gradient(#eeeeed 50%, var(--primary-white));
background-repeat: no-repeat;


}
.header-shell {
  width: 20rem;
  height: 100%;
}
.nav-wrapper, .main-content-wrapper {
height: 100vh;
display: flex;
position: fixed;
}
.nav-wrapper {

  width: 20rem;
  background-image: linear-gradient(var(--primary-black) 80%, var(--test-black));
  z-index: 1;
}
.navigation-bar {
  width: 100%;
  display:flex;
  flex-direction: column;
}
main {
  width: 100%;
}
main a {
  color: var(--primary-color);
}

footer {
  margin-top: auto;
  margin-bottom: 1rem;
}

.main-content-wrapper {
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding-left: 20rem;
  overflow-y:scroll;

}

.titlebox {
  display:flex;
  height: min(15vh, 150px);
  background-image: linear-gradient(to right, var(--primary-black) 80%, var(--test-black));
  background-repeat: no-repeat;
  width: 100%;
  align-items: center;
  padding-inline: 2vw;


}

.titlebox > h1 {
  text-align: center;
  font-size: min(4rem, 5vh, 70px);
}



.header-image {
  display:grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  height: max(50vh, 25vw);
  width: 100%;
  background-image: url("/img/usihome.jpg");
  background-position: center;
  background-size: cover;

}

.vignette {
  background-color: rgba(0, 0, 0, 0.507);
  grid-column-start: 1;
  grid-column-end: 13;
  grid-row-start: 1;
  grid-row-end: 13;
}

.header-content-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-column-start: 4;
  grid-column-end: 10;
  grid-row-start: 5;
  grid-row-end: 9;

}

.header-content-title {
color: var(--primary-white);
text-shadow: .08em .08em var(--primary-black);
text-align: center;
} 
.header-subtitle {
  font-size: 1.25rem;
  color: var(--primary-white);
  text-shadow: .15em .15em var(--primary-black);
  text-align: center;
  margin: 0;
}

.form-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline: 4rem;
  padding-block: 1rem;

}

.form-wrapper .form {
  font-weight: 600;
  font-size: min(18px, 3vw);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-color: hsl(0, 1%, 74%);
  border-style: solid;
  border-width: 1px;
  background-repeat: no-repeat;
  padding-block: 1rem;
  padding-inline: 10rem;
  border-radius: 1rem 1rem;
  width: 100%;
  color: var(--primary-black);
}

.form > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  margin-bottom: 1rem;

}
.form > div > .form-item-input {
  width: 70%;

}


.form a {
  filter: opacity(.7) contrast(0%);
  transition: filter ease-in 100ms;
}

.form a:hover {
filter: opacity(1) contrast(100%);
}

.form-submit:hover {
cursor: pointer;
}


.form div {
  margin-bottom: min(.25vh, .25vw);
  width: 100%;
}

.form-select-box {
  width: 100%;
  border-radius: .5rem;
  margin-bottom: 1rem;
  font-size: 2vh;
  text-align: center;
}
.form-item-address {
  display: flex;
  flex-direction: column;
  align-items: center;
  column-gap: .5em;
  min-height: 75px;
}
.form-item-navigator {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form.form > div > section > div > div * {
  margin-top: .5rem;
}

.form-item-validation-text {
  color: var(--secondary-color);
  font-size: 1rem;
}

.header-buttons {
  display: flex;
  margin-top: 1em;
  column-gap: 1em;
}
.header-button {
  color: var(--primary-white);
  background-color: var(--primary-color);
  border-radius: .25em .25em;
  padding-inline: 1em;
  padding-block: .75em;
  transition: background-color 100ms ease-in;

}

.routeBox {
width: 100%;
padding-inline: min(4vh, 4vw);
padding-block: min(2vh, 2vw);
margin-bottom: min(1vh, 1vw);

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: min(1vh, 1vw);
}

.routeBoxItem {
    margin: 0;
}

.header-button span {
  display: inline-flex;
  align-items: center;
  vertical-align: middle;

}
.header-button span svg {
  height: 1em;
  width: 1em;
  fill: var(--primary-white);
  margin-right: .5em;
}
.header-button:hover {
  background-color: var(--secondary-color);

}

.title-link {
  font-weight: 700;
  height: 100%;
  display:flex;
align-items: center;
width: 6vw;
justify-content: center;
font-size: min(2rem, 3vh,24px);
}
.title-button-box {
  margin-left: auto;
  display: flex;
  height: 100%;
  column-gap: max(4rem, 5vh);
}
.title-item > span {
  text-transform: uppercase;
  vertical-align: middle;
}
.bottomnav {
  margin-top: auto;
}

.body-textbox {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-inline: 8vh;


}
button.addressbutton {
    display:flex;
    align-items: center;
    border-radius: .25em;
    justify-content: center;
    width: 2em;
    height: 2em;
    color: var(--primary-white);
}

button.addressbutton > span {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-top: 0 !important;
}

    button.addressbutton > span > svg {
        height: 100%;
        width: 100%;
    }
.starting-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.alert {
    width: 100%;
    height: 5em;
    margin-top: 0;
    padding-inline: 4em;
    padding-block: 3px;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    margin-bottom: 3vh;
}
.table-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}
table {
    border-collapse: collapse;
}
table, th, td {
    border: 1px solid;
}
.table-cell {
    max-height: 6vh;
    max-width: 15vh;
    padding-inline: 1px;
}

.table-cell.note {
    max-width: 15vh;
}
.alert.success {
    background-color: var(--primary-color);


}
.table-cell.with-button {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.scrollable {
    overflow-y: scroll;
    overflow-x: hidden;
}

.alert * {
    color: var(--primary-white);
    
}

/* MEDIA QUERIES */
@media only screen and (max-width: 768px) {
  body {
    flex-direction: column-reverse;

  }
  .form-wrapper .form {
    background-image: none;
    box-shadow: none;
    padding: 0;
  }
  .form-wrapper {
    padding: 0;
  }
  .form div {
    padding: 0;
  }
  
  .brand {
    display: none;
  }

  .nav-wrapper {
    top:auto;
    left:0;
    bottom:0;
    height: min(100vw, 200px);
    width: 100vw;

  }
  .main-content-wrapper {
    padding-left: 0;
    padding-bottom: 20rem;
  }
  .titlebox {
    align-items: center;
    justify-content: center;
    padding: 0;
  }
  .titlebox > h1 {
    text-align: center;
  }
  .title-button-box {
    display: none;
  }
  .nav-text {
    display: none;
  }
  .navigation-bar {
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;

    
  }
  .navigation-bar > .nav-link {
    vertical-align: middle;
    width:25vw;
    height: fit-content;
  }

  .nav-link > .nav-item > span > svg {
    height: min(10vw, 60px);
    width: min(10vw, 60px);
  }
  .bottomnav {
    justify-content: center;
    width: 100vw;
    height: fit-content;
    flex-direction: row;
    display:flex;
    margin-top:0;
  }
  .bottomnav > .nav-link {
    width: 35vw;
    margin:0;
  }

  .bottomnav > .nav-link > div > span > svg {
    width: min(14vw, 80px);
    height: min(14vw, 80px);
  }
  


}

